
.prodbody{
    overflow-x: hidden;
    /* margin-right: 20px; */
}

.prodcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.prodrow{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin: 50px;
}
.prodtext{
    font-size: 20px;
    padding-left: 20px;
}
.prodimg{
    width:350px;
    object-fit: contain;
    object-position: center;
}
.prodimg img{
    width:350px;
    object-fit: contain;
    object-position: center;
}
.prodrow .col-2{
    max-width: 100%;
    max-height: 100%;

}
.prodbtn{
    border:1px solid black;
    border-radius: 30px;
    align-items: center;
    color:white;
    background-color: #302b63;
    font-size: large;
    display: inline-block;
    padding: 8px 30px;
    margin: 30px 0;
    text-decoration: none;

}
.prodtext input{
    width:50px !important;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 2px solid #302b63;
}

#addtocart{
    color: white;
    background-color:#0f0c29 ;
    height: 39px;
    width: 120px;
    border-radius: 20px;
    outline: none;
    border: transparent;
}

#addtocart:hover{
    background-color:#302b63 ;
}

